body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hidden {
    display: none;
}

h1 {
    margin: 20px 0;
}

#start-screen, #test-screen, #result-screen {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    width: 80%;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}

#start-button {
    background-color: blue;
    color: white;
    border: none;
}

.answer-button {
    padding: 20px;
    font-size: 24px;
    width: 60px;
    height: 60px;
    margin: 10px;
}

#next-section-button {
    background-color: yellow;
    color: black;
    border: none;
}

.finish-button {
    background-color: red;
    color: white;
    border: none;
}

.retry-button {
    background-color: green;
    color: white;
    border: none;
}

.warning {
    color: red;
    font-size: 12px;
    margin-top: 10px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

thead {
    background-color: #ddd;
}
