body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none; /* Hilangkan border pada button */
}

input {
    padding: 10px;
    font-size: 16px;
    margin-top: 20px;
    width: 200px;
}

#timer, #question, .warning {
    margin-top: 20px;
}

.answer-buttons {
    margin-top: 20px;
}

.answer {
    padding: 10px 20px;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.warning {
    color: red;
    font-size: 12px;
    margin-top: 10px;
}

.retry {
    background-color: #66bb6a; /* Warna hijau lebih kalem */
    color: white;
}

.finish {
    background-color: #ff0000; /* Warna merah lebih kalem */
    color: white;
    opacity: 1; /* Ubah transparansi */
}

.next {
    background-color: #ffeb3b; /* Warna kuning lebih kalem */
}

#start-test {
    background-color: blue;
    color: white;
}

/* Tambahkan ini untuk memusatkan halaman tes secara vertikal */
#test-page {
    margin-top: auto;
    margin-bottom: auto;
}
